.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.form__data {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    padding-bottom: 10px;
}
.form__input {
    background: #F9F9F9;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    outline: none;
    border: none;
    margin-bottom: 10px;
    
    padding: 15px;
    width: calc(100% - 15px*2);
}
.form__input-wrong {
    color: #FF4062;
}
.form__input-error {
    color: #FF4062;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    min-height: 10px;
    opacity: 1;
    /* opacity: 0; */
}
