.bestmovie__container {
    max-width: calc(100% - 70px*2);
    padding: 18px 70px 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .bestmovie__container {
        max-width: calc(100% - 30px*2);
        padding: 15px 30px 20px;
    }
}
@media screen and (max-width: 767px) {
    .bestmovie__container {
        max-width: calc(100% - 10px*2);
        padding: 15px 10px 10px;
    }
}
