.content {
    width: calc(100% - 70px*2);
    padding: 110px 70px;
}
@media screen and (max-width: 1279px) {
    .content {
        width: calc(100% - 50px*2);
        padding: 90px 50px;
    }
}
  
@media screen and (max-width: 767px) {
    .content {
        width: calc(100% - 18px*2);
        padding: 70px 18px;
    }
}
.content__text {
    display: grid;
}
.content__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
}
@media screen and (max-width: 767px) {
    .content__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}
.content__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 41px;
    list-style: none;
    padding: 70px 0 110px;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .content__list {
        padding: 70px 0 93px;
        gap: 30px;
    }
}
@media screen and (max-width: 767px) {
    .content__list {
        padding: 60px 0;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 56px;
    }
}
.content__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .content__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}
.content__discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 24px 20px 0 0;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .content__discription {
        font-size: 12px;
        line-height: 18px;
        padding: 21px 0 0;
    }
}
@media screen and (max-width: 767px) {
    .content__discription {
        font-size: 11px;
        line-height: 16px;
        padding: 16px 0 0;
    }
}
.content__plan {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 228px 1fr;
}
@media screen and (max-width: 1279px) {
    .content__plan {
        grid-template-columns: 140px 1fr;
    }
}
@media screen and (max-width: 767px) {
    .content__plan {
        grid-template-columns: 100px 1fr;
    }
}
.content__time {
    padding: 9px 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background-color: #F2F2F2;
}
@media screen and (max-width: 767px) {
    .content__time {
        padding: 11px 0;
        font-size: 11px;
        line-height: 13px;
    }
}
.dark-theme {
    background-color: #000000;
    color: #FFFFFF;
}
.content__work {
    padding: 14px 0;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
}
@media screen and (max-width: 1279px) {
    .content__work {
        font-weight: 400;
    }
}
@media screen and (max-width: 767px) {
    .content__work {
        padding: 10px 0;
        font-size: 11px;
        line-height: 13px;
    }
}