/* ----Футер на главной станице */

.footer__container_main {
    width: calc(100% - 70px*2);
    padding: 79px 70px 20px;
}

@media screen and (max-width: 1279px) {
    .footer__container_main {
        width: calc(100% - 30px*2);
        padding: 60px 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .footer__container_main {
        width: calc(100% - 10px*2);
        padding: 60px 10px 0;
    }
}

/* --------------------------- */

.footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 79px;
}

@media screen and (max-width: 1279px) {
    .footer__container {
        padding-top: 219px;
    }
}

@media screen and (max-width: 767px) {
    .footer__container {
        padding-top: 90px;
    }
}

.footer__title {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    text-align: center;
    border-bottom: solid 1px #E8E8E8;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    margin: 0;
    padding: 0;
}

.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .footer__columns {
        padding-top: 21px;
        flex-direction: column-reverse;
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__copyright {
        text-align: center;
        padding-top: 30px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        padding: 12px 0 0;
    }

    .footer__link:last-child {
        padding-top: 12px;
    }
}