.profile__content {
    width: calc(100% - 70px*2);
    padding: 110px 70px 99px;
}

.profile__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 66px 0 0;
    position: relative;
}

.profile__name {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.profile__photo {
    width: 270px;
    height: 327px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 66px;
    right: 0;
    border-radius: 10px;
}

.profile__about {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    padding: 18px 0 26px;
    margin: 0;
}

.profile__text {
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
    margin: 0;
}

.profile__social-pages {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 96px 0 0;
}

.profile__social-page {
    padding: 0 20px 0 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: opacity 0.5s linear;
    cursor: pointer;
}

.profile__social-page:last-child {
    padding: 0;
}

.profile__social-page:hover {
    opacity: 0.6;
    text-decoration: underline 2px #000000;
}

@media screen and (max-width: 1279px) {
    .profile__content {
        width: calc(100% - 50px*2);
        padding: 90px 50px;
    }

    .profile__name {
        font-size: 40px;
        line-height: 40px;
    }

    .profile__photo {
        width: 255px;
        height: 307px;
    }

    .profile__about {
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0 20px;
    }

    .profile__text {
        max-width: 364px;
        font-size: 12px;
        line-height: 18px;
    }

    .profile__social-pages {
        padding: 87px 0 0;
    }
}


@media screen and (max-width: 767px) {
    .profile__content {
        width: calc(100% - 14px*2);
        padding: 70px 14px 69px;
    }

    .profile__container {
        padding: 60px 0 0;
    }

    .profile__name {
        font-size: 30px;
        line-height: 36px;
        padding-top: 36px;
    }

    .profile__photo {
        width: 292px;
        height: 352px;
        position: static;
    }

    .profile__about {
        font-size: 11px;
        line-height: 16px;
        padding: 20px 0;
    }

    .profile__text {
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
    }

    .profile__social-pages {
        padding: 40px 0 0;
    }

    .profile__social-page {
        padding-right: 26px;
    }
}

