.profile__content {
    width: calc(100% - 70px*2);
    padding: 110px 70px;
}
@media screen and (max-width: 1279px) {
    .profile__content {
        width: calc(100% - 50px*2);
        padding: 90px 50px;
    }
}
  
@media screen and (max-width: 767px) {
    .profile__content {
        width: calc(100% - 14px*2);
        padding: 70px 14px;
    }
}
.profile__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 66px 0 0;
    position: relative;
}
@media screen and (max-width: 767px) {
    .profile__container {
        padding: 60px 0 0;
    }
}
.profile__name {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}
@media screen and (max-width: 1279px) {
    .profile__name {
        font-size: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 30px;
        line-height: 36px;
        padding-top: 36px;
    }
}
.profile__photo {
    width: 270px;
    height: 327px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 66px;
    right: 0;
    border-radius: 10px;
}
@media screen and (max-width: 1279px) {
    .profile__photo {
        width: 255px;
        height: 307px;
    }
}
@media screen and (max-width: 767px) {
    .profile__photo {
        width: 292px;
        height: 352px;
        position: static;
    }
}

.profile__about {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    padding: 18px 0 26px;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .profile__about {
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0 20px;
    }
}
@media screen and (max-width: 767px) {
    .profile__about {
        font-size: 11px;
        line-height: 16px;
        padding: 20px 0;
    }
}
.profile__text {
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .profile__text {
        max-width: 364px;
        font-size: 12px;
        line-height: 18px;
    }
}
@media screen and (max-width: 767px) {
    .profile__text {
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
    }
}
.profile__social-pages {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 77px 0 100px;
}
@media screen and (max-width: 1279px) {
    .profile__social-pages {
        padding: 87px 0 90px;
    }
}
@media screen and (max-width: 767px) {
    .profile__social-pages {
        padding: 40px 0 69px;
    }
}
.profile__social-page {
    padding: 0 20px 0 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: opacity 0.5s linear;
    cursor: pointer;
}
.profile__social-page:hover {
    opacity: 0.6;
    text-decoration: underline 2px #000000;
}
@media screen and (max-width: 767px) {
    .profile__social-pages {
        padding-right: 26px;
    }
}
.profile__portfolio {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.profile__portfolio-title {
    margin: 0;
    padding: 0 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}
@media screen and (max-width: 767px) {
    .profile__portfolio-title {
        padding-bottom: 20px;
        font-size: 14px;
    }
}
.profile__project-container {
    margin: 0;
    padding: 20px 0 0;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 767px) {
    .profile__project-container {
        border-bottom: 1px solid #E6E6E6;
    }
}
.profile__project-link {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.5s linear;
    cursor: pointer;
}
.profile__project-link:hover {
    font-weight: 500;
    outline: solid 2px #A0A0A0;
    border-radius: 5px;
    opacity: 0.6;
}
.profile__project-container:last-child {
    border-bottom: none;
}
.profile__project-container:first-child {
    border-bottom: none;
    padding: 0;
}
.profile__project {
    margin: 0;
    padding: 0 0 19px;
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}
@media screen and (max-width: 1279px) {
    .profile__project {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .profile__project {
        font-size: 18px;
        line-height: 28px;
    }
}
.profile__project-symbol {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
}
@media screen and (max-width: 1279px) {
    .profile__project-symbol {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .profile__project-symbol {
        font-size: 18px;
        line-height: 28px;
    }
}